
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
#wrapper {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
#todo {
    margin-top: 20px;
}
#count {
    margin-bottom: 20px;
}
#btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #b2c9e0;
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#btn:hover {
    background-color: #0056b3;
    color: white;
}
#cardCounter {
    padding: 5px;
}
#todoCards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
}
.todoCard {
    position: relative;
    padding: 10px;
    background-color: #f9f9f9;
    gap: 5px;
}


.task {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
}

.delBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    color: #000000;
    font-size: 20px;
}
.delBtn:hover {
    color: #000000;
}

@media (max-width: 100%) {
    #wrapper {
        padding: 10px;
    }

    #btn {
        font-size: 14px;
    }

    .task {
        width: 70%;
    }

    .delBtn {
        font-size: 18px;
    }
}